<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
	owner: 'qiankunli', //比如我的叫nilzzzz
	repo: 'qiankunli.github.io', //比如我的叫nilzzzz.github.io
        oauth: {
		client_id: 'ddbaadab5f5d810805c3', //比如我的828***********
		client_secret: '13b91b306680f11a55713382529b83259ef56546', //比如我的49e************************
	},
});
gitment.render('gitmentContainer');
</script>
