---
layout: base
---
{% include gitalk.html %}
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-12 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    <!--   gitalk       -->
    <div class="comment">
        <div id="gitalk-container"></div>
        
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
        <!--
        <link rel="stylesheet" href="http://qiankunli.github.io/public/css/gitalk.css">
        <script src="http://qiankunli.github.io/public/js/gitalk.min.js"></script>
        -->
        <script>
        var gitalk = new Gitalk({
            id: '{{ page.title }}',
            clientID: 'ddbaadab5f5d810805c3',
            clientSecret: '13b91b306680f11a55713382529b83259ef56546',
            repo: 'qiankunli.github.io',
            owner: 'qiankunli',
            admin: ['qiankunli'], 
            labels: ['Gitalk'],
        })
        gitalk.render('gitalk-container')
        </script> 
    </div>
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>


